<form ng-submit="saveUser()">
  <label>Login: </label>
  <input ng-model="user">
  <input type="submit">
</form>

<ul>
  <li ng-repeat="user in users">{{ user.name }}</li>
</ul>



<ul class="messages">
  <li class="row" ng-repeat="message in messages">
    <div class="col-xs-3 sender">
      {{ message.sender }}
    </div>
    <div class="col-xs-9 message">
      {{ message.data }}
    </div>
  </li>
</ul>

<form class="row" style="border-top-color: #b6b6b6; overflow: hidden">
  <div class="col-xs-offset-3 col-xs-6">
    <textarea ng-model="message" ng-enter="saveMessage()" style="width: 100%"></textarea>
  </div>

</form>
